<a href="https://colab.research.google.com/github/SpandanM110/ML-Lab/blob/main/ML_Lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create an array X that contain 5 rows and 4 columns of ones

In [ ]:
import numpy as np

X = np.ones((5, 4))

Create an array Y that contains only even numbers between 10 (inclusive) and 20(exclusive)

In [ ]:
Y = np.arange(10, 20, 2)

Create an identity matrix, zero matrix ,matrix filled with number 7 of size 4x5.

In [ ]:
# Identity matrix
I = np.eye(4, 5)

# Zero matrix
Z = np.zeros((4, 5))

# Matrix filled with number 7
M = 7 * np.ones((4, 5))

Create a matrix P from a list

In [ ]:

P = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

Create an array A with values from 1 to 12 arranged in 3 rows 4 columns

In [ ]:
A = np.arange(1, 13).reshape(3, 4)

Display the dimension, shape and size of the array A

In [ ]:
print("The dimension of A is:", A.ndim)
print("The shape of A is:", A.shape)
print("The size of A is:", A.size)

Create an array B with values from 13 to 24 arranged in 3 rows and 4 columns

In [ ]:
B = np.arrange(13,25).reshape(3,4)

Stack the arrays one below the other.

In [ ]:
C = np.vstack((A, B))

Create an array C by multiplying array A and B elementwise

In [ ]:
A = np.array((1,2,3))
B = np.array((4,5,6))

C = A*B
print(C)

[ 4 10 18]

Obtain the dot product of array A and B

In [ ]:
a = [[1,0],[2,3]]
b = [[3,4],[5,6]]

print(np.dot(a,b))

[[ 3  4]
 [21 26]]

Extract the element in row 2 and column 1

In [ ]:
# 0th indexing array starts with
print(C[1, 1])

Extract all the elements in row 1

In [ ]:
print(C[0,:])

Extract all the elements in column 2

In [ ]:
print(C[:, 1])

Create an array R that contains 4 rows and 3 columns of random values

In [ ]:
R = np.random.rand(4, 3)

Print the maximum value in each row in R

In [ ]:
print(R.max(axis=1))

Find the mean of each column in R

In [ ]:
print(R.mean(axis=0))

 Find the transpose of matrix R

In [ ]:
R.T

Make the matrix R flattened

In [ ]:
R.ravel()

Create a 2X2 matrix with values ranging from 1 to 4 and find its determinant, rank and inverse of
the matrix

In [ ]:
M = np.arange(1,5).reshape(2,2)
print(M)
print(np.linalg.det(M))
print(np.linalg.matrix_rank(M))
print(np.linalg.inv(M))

Choose an array to show the difference between assigning and copying another array.

In [ ]:
a = np.array([1,2,3])
b = a
c = a.copy()

# Changing values in a, b, and c
a[1] = 5
b[2] = 10
c[0] = 15

# Print the values of a, b, and c
print(a)
print(b)
print(c)